# Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

### value is 6 when the last expression (a) is evaluated. 
### In above process, when we called function b() first time variable a is 0 and in function b it converted it into global variables
### so it can be use in every function after that it call function c() with 'a' as its parameter and 
### function c() return 'a+2' and store it into variable 'a'.
### In first process, a is 0 after calling b() it bacame '2' because c() return 'a+2'=> '0+2'=>'2'
### in second process, a is '2' after calling b() it became '4' because c() return 'a+2'=> '2+2'=>'4'
### In third process, a is '4' after calling b() it became '6' because c() return 'a+2'=> '4+2'=>'6'
### so after third process 'a=6'

# Question 2

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File '{file_name}' not found")
    except IOError:
        print(f"Sorry ! Could not read file '{file_name}'.")
        file.close()

In [7]:
file_length('midterm.py')

File 'midterm.py' not found

# Question 3

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, k):
        self.pouch.append(k)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, nx, ny):
        self.x += nx
        self.y += ny

    def __str__(self):
        return f"I am a Kangaroo located at coordinates : ({self.x}, {self.y})"

In [9]:

m = Marsupial()
m.put_in_pouch('zero')
m.put_in_pouch('one')
m.put_in_pouch('two')
print(m.pouch_contents())

['zero', 'one', 'two']

In [10]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('kid 1')
k.put_in_pouch('kid 2')
k.put_in_pouch('kid 3')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates : (0, 0)
I am a Kangaroo located at coordinates : (3, 0)

# Question 4

In [11]:
def collatz(n):
    print(n)
    if n == 1:
        return
    elif n % 2 == 0:
        collatz(n // 2)
    else:
        collatz(3 * n + 1)

In [12]:
collatz(1)

1

In [13]:
collatz(10)

10
5
16
8
4
2
1

In [14]:
collatz(6)

6
3
10
5
16
8
4
2
1

# Question 5

In [15]:
def binary(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)

In [16]:
binary(5)

'101'

In [17]:
binary(8)

'1000'

# Question 6

In [18]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings_type = 0
        
    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 :
            self.headings_type = int(tag[1])

    def handle_data(self, data):
        if self.headings_type > 0:
            print(data)

In [19]:
htmlpage = open('w3c.html')
data = htmlpage.read()
htmlpage.close()

dataparser = HeadingParser()
dataparser.feed(data)

W3C Mission


Principles

# Question 7

In [20]:
import requests
import re

def webdir(url, depth, indent):
    # Base case: if depth is 0, stop recursion
    if depth == 0:
        return

    # Get the web page content
    response = requests.get(url)
    if response.status_code == 200:
        print("success")

In [21]:
webdir('https://www.georgiancollege.ca/admissions/banner-login-information/',2,0)

success

# Question 8

In [22]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('nikunj_Db.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''CREATE TABLE Weather_Data (City VARCHAR(50),Country VARCHAR(50),Season VARCHAR(50),Temperature FLOAT,Rainfall FLOAT)''')

# Define the data to be inserted
tabledata = [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Insert the data into the table
cursor.executemany('''INSERT INTO Weather_Data (City, Country, Season, Temperature, Rainfall)VALUES (?, ?, ?, ?, ?)''', tabledata)

conn.commit()
conn.close()

In [23]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('nikunj_Db.db')
cursor = conn.cursor()

#########################
cursor.execute("SELECT Temperature FROM Weather_Data")
temperature_data = cursor.fetchall()

print("a) All the temperature data")

print("Temperature Data:")
temperature_datalist = []
for data in temperature_data:
    temperature_datalist.append(data[0])
print(temperature_data)
print()

###########################
# b) All the cities, but without repetition
cursor.execute("SELECT DISTINCT City FROM Weather_Data")
record_cities = cursor.fetchall()
print("b) All the cities, but without repetition")
print("All the Cities:")
cities = []
for X in record_cities:
    cities.append(X[0])
print(cities)
print()

############################# 
cursor.execute("SELECT * FROM Weather_Data WHERE Country = 'India'")
records_of_india = cursor.fetchall()
print("c) All the records for India")
print("Records for India:")
indiadata=[]
for X in records_of_india:
      indiadata.append(X)
print(indiadata)
print()


############################## 
cursor.execute("SELECT * FROM Weather_Data WHERE Season = 'Fall'")
records_of_fall = cursor.fetchall()
print("d) All the Fall records")
print("Fall Records:")
falldata=[]
for X in records_of_fall:
    falldata.append(X)
print(falldata)
print()


################################ 
cursor.execute("SELECT City, Country, Season FROM Weather_Data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
record_of_rainfall_range = cursor.fetchall()
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
print("Records with Average Rainfall between 200 and 400 millimeters:")
rainfalllist=[]
for X in record_of_rainfall_range:
    rainfalllist.append(X)
print(rainfalllist)
print()

##################################
cursor.execute("SELECT City, Country FROM Weather_Data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
records_average_temp = cursor.fetchall()
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
print("Records with Average Fall Temperature above 20 degrees, in increasing order:")
templist=[]
for X in records_average_temp:
    templist.append(X)
print(templist)

print()    
    
#################################### 
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM Weather_Data WHERE City = 'Cairo'")
record_cairo_total_rainfall = cursor.fetchone()[0]
print("g) The total annual rainfall for Cairo")
print("Total Annual Rainfall for Cairo:", record_cairo_total_rainfall)

print()

###################################
cursor.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Weather_Data GROUP BY Season")
record_seasonal_rainfall = cursor.fetchall()
print("h) The total rainfall for each season")
print("Total Rainfall for Each Season:")
s_rainlist=[]
for X in record_seasonal_rainfall:
    s_rainlist.append(X)
print(s_rainlist)

conn.close()

a) All the temperature data
Temperature Data:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition
All the Cities:
['Mumbai', 'London', 'Cairo']

c) All the records for India
Records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records
Fall Records:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
Records with Average Rainfall between 200 and 400 millimeters:
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
Records with Average Fall Temperature above 20 degrees, in increasing order:
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo
Total Annual Rainfall for Cairo: 27.6

h) The total rainfall for each season
Total Rainfall for Each Season:
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [24]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [25]:
upper_list = []
for X in words:
    upper_list.append(X.upper())
print(upper_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [26]:
lower_list = []
for X in words:
    lower_list.append(X.lower())
print(lower_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [27]:
listoflength = []
for X in words:
    listoflength.append(len(X))
print(listoflength)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [28]:
word_of_list = []
for X in words:
    word_of_list.append([X.upper(), X.lower(), len(X)])
print(word_of_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [29]:
longword_list = []
for X in words:
     if len(X) >= 4:
        longword_list.append(X)
print(longword_list)

['quick', 'brown', 'jumps', 'over', 'lazy']